@* @model App.DAL.DTO.TypeOfCafe *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Details"; *@
@* } *@
@* *@
@* <h1>Details</h1> *@
@* *@
@* <div> *@
@*     <h4>TypeOfCafe</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.TypeOfCafeName) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.TypeOfCafeName) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.TypeOfCafeDescription) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.TypeOfCafeDescription) *@
@*         </dd> *@
@*     </dl> *@
@* </div> *@
@* <div> *@
@*     <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@
