@* @model App.DAL.DTO.TypeOfCafe *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Edit"; *@
@* } *@
@* *@
@* <h1>Edit</h1> *@
@* *@
@* <h4>TypeOfCafe</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Edit"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TypeOfCafeName" class="control-label"></label> *@
@*                 <input asp-for="TypeOfCafeName" class="form-control" /> *@
@*                 <span asp-validation-for="TypeOfCafeName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TypeOfCafeDescription" class="control-label"></label> *@
@*                 <input asp-for="TypeOfCafeDescription" class="form-control" /> *@
@*                 <span asp-validation-for="TypeOfCafeDescription" class="text-danger"></span> *@
@*             </div> *@
@*             <input type="hidden" asp-for="Id" /> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Save" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@
@* *@
@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
