@* @model WebApp.Areas.Admin.ViewModels.CafeCreateEditViewModel *@
@* *@
@*             <div asp-validation-summary="All" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeName" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeName" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeAddress" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeAddress" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeAddress" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeEmail" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeEmail" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeEmail" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeTelephone" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeTelephone" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeTelephone" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeWebsiteLink" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeWebsiteLink" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeWebsiteLink" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CafeAverageRating" class="control-label"></label> *@
@*                 <input asp-for="Cafe.CafeAverageRating" class="form-control" /> *@
@*                 <span asp-validation-for="Cafe.CafeAverageRating" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.CityId" class="control-label"></label> *@
@*                 <select asp-for="Cafe.CityId" class ="form-control" asp-items="Model.CitySelectList"></select> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cafe.AppUserId" class="control-label"></label> *@
@*                 <select asp-for="Cafe.AppUserId" class ="form-control" asp-items="Model.AppUserSelectList"></select> *@
@*             </div> *@
@* *@
